.bannerimage {
    position: absolute;
    min-width: 100%;
    z-index: auto;
}

.form {
    position: absolute;
    z-index: 1;
}

.login {
    text-align: center
}

.single-result {
    border-width: 1px;
    border-style: solid;
}

.search-results {
    margin-left: 30px;
}

.profile-page {
    
}

.profile-page-content {
    text-align: center;
}