.banner {
  font-family: 'Roboto', sans-serif;
}
.bannerimage {
    position: relative;
    min-width: 100%;
    z-index: -1;
}

.landing-title {
  font-size: 60px;
  color: white;
    left: 0;
    position:absolute;
    text-align:center;
    top: 160px;
    width: 100%;
    z-index: 1;
}

.login {
    text-align: center
}

.single-result {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 175px;
}

.search-results {
    margin-left: 30px;
}

.profile-page {
    
}

.profile-page-content {
    text-align: center;
}

.corner-ribbon{
  width: 50px;
  background: #e43;
  position: relative;
  top: 15px;
  left: -20px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.imagepreviews {
  margin-top: 20%;
}

.image-searchresult{
  margin-bottom: 8%;
}

.backgroundtwo{
  background-color: #565656;
  color: white;
}